[Unit]
Description=gitlab runner container
Requires=gitlab.service
After=gitlab.service

[Container]
ContainerName=gitlab-runner
Image=docker.io/gitlab/gitlab-runner:alpine
Network=lab.network
Volume=/var/run/podman/podman.sock:/run/podman/podman.sock
Volume=gitlab-runner-config:/etc/gitlab-runner
SecurityLabelType=spc_t
# --security-opt label=type:spc_t, Super Privileged Container type provides permission to connect to container_runtime_t sockets
# less permissive than SecurityLabelDisable=true (--security-opt label=disable), which turns off label separation for the container for traefik to access podman.sock

[Install]
WantedBy=multi-user.target