[Unit]
Description=keycloak container
Requires=lab-network.service
Requires=postgres.service
Requires=traefik.service
After=postgres.service

[Container]
ContainerName=keycloak
Image=docker.io/keycloak/keycloak:latest
Network=lab.network
Environment=KC_DB=postgres
Environment=KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
Environment=KC_DB_USERNAME=keycloak
Environment=KC_DB_PASSWORD=password
Environment=KC_BOOTSTRAP_ADMIN_USERNAME=admin
Environment=KC_BOOTSTRAP_ADMIN_PASSWORD=Micro123
Environment=KC_HOSTNAME=https://keycloak.vx
Environment=KC_HOSTNAME_STRICT=false
Environment=KC_PROXY_HEADERS=xforwarded
Environment=KC_HTTP_ENABLED=true
Label=traefik.enable=true
Label=traefik.http.routers.keycloak.rule=Host(`keycloak.vx`)
Label=traefik.http.routers.keycloak.entrypoints=websecure
Label=traefik.http.routers.keycloak.tls=true
Exec=start

[Install]
WantedBy=multi-user.target