[Unit]
Description=virustotal connector container
Requires=worker.service
After=worker.service

[Container]
# https://github.com/OpenCTI-Platform/connectors/tree/master/internal-enrichment/virustotal
ContainerName=connector-virustotal
Image=docker.io/opencti/connector-virustotal:latest
Network=lab.network
Environment=OPENCTI_URL=http://opencti:8080
Environment=OPENCTI_TOKEN=YOUR_OPENCTI_TOKEN_HERE
Environment=CONNECTOR_ID=ceb59136-84d2-4425-a627-f63b2f225573
Environment=CONNECTOR_NAME=VirusTotal
Environment=CONNECTOR_AUTO=true
Environment=VIRUSTOTAL_TOKEN=YOUR_API_KEY_HERE

[Install]
WantedBy=multi-user.target