[Unit]
Description=alienvault connector container
Requires=worker.service
After=worker.service

[Container]
# https://github.com/OpenCTI-Platform/connectors/tree/master/external-import/alienvault
ContainerName=connector-alienvault
Image=docker.io/opencti/connector-alienvault:latest
Network=lab.network
Environment=OPENCTI_URL=http://opencti:8080
Environment=OPENCTI_TOKEN=27cf31af-5f0a-40b0-b1eb-9fcf1d0a1c3d
Environment=CONNECTOR_ID=db6cf420-4e39-4c77-9781-cd37a84571ea
Environment=CONNECTOR_NAME=AlienVault
Environment=CONNECTOR_DURATION_PERIOD=PT12H
Environment=ALIENVAULT_BASE_URL=https://otx.alienvault.com
Environment=ALIENVAULT_API_KEY=YOUR_API_KEY_HERE
Environment=ALIENVAULT_TLP=White
Environment=ALIENVAULT_CREATE_OBSERVABLES=true
Environment=ALIENVAULT_CREATE_INDICATORS=true
Environment=ALIENVAULT_PULSE_START_TIMESTAMP=CONNECTOR_TIMESTAMP_HERE
Environment=ALIENVAULT_REPORT_TYPE=threat-report
Environment=ALIENVAULT_REPORT_STATUS=New
Environment=ALIENVAULT_GUESS_MALWARE=false
Environment=ALIENVAULT_GUESS_CVE=false
Environment=ALIENVAULT_EXCLUDED_PULSE_INDICATOR_TYPES=FileHash-MD5,FileHash-SHA1
Environment=ALIENVAULT_ENABLE_RELATIONSHIPS=true
Environment=ALIENVAULT_ENABLE_ATTACK_PATTERNS_INDICATES=false
Environment=ALIENVAULT_FILTER_INDICATORS=false
Environment=ALIENVAULT_INTERVAL_SEC=1800
Environment=ALIENVAULT_DEFAULT_X_OPENCTI_SCORE=50
Environment=ALIENVAULT_X_OPENCTI_SCORE_IP=60
Environment=ALIENVAULT_X_OPENCTI_SCORE_DOMAIN=70
Environment=ALIENVAULT_X_OPENCTI_SCORE_HOSTNAME=75
Environment=ALIENVAULT_X_OPENCTI_SCORE_EMAIL=70
Environment=ALIENVAULT_X_OPENCTI_SCORE_FILE=85
Environment=ALIENVAULT_X_OPENCTI_SCORE_URL=80
Environment=ALIENVAULT_X_OPENCTI_SCORE_MUTEX=60
Environment=ALIENVAULT_X_OPENCTI_SCORE_CRYPTOCURRENCY_WALLET=80

[Install]
WantedBy=multi-user.target