[Unit]
Description=urlhaus connector container
Requires=worker.service
After=worker.service

[Container]
# https://github.com/OpenCTI-Platform/connectors/tree/master/external-import/urlhaus
ContainerName=connector-urlhaus
Image=docker.io/opencti/connector-urlhaus:latest
Network=lab.network
Environment=OPENCTI_URL=http://opencti:8080
Environment=OPENCTI_TOKEN=27cf31af-5f0a-40b0-b1eb-9fcf1d0a1c3d
Environment=CONNECTOR_ID=126a8a25-6846-465a-ba92-94fe8d8b8c64
Environment=CONNECTOR_NAME=URLhaus
Environment=URLHAUS_INTERVAL=1
Environment=URLHAUS_CSV_URL=https://urlhaus.abuse.ch/downloads/csv_recent/
Environment=URLHAUS_DEFAULT_X_OPENCTI_SCORE=80
Environment=URLHAUS_IMPORT_OFFLINE=true
Environment=URLHAUS_THREATS_FROM_LABELS=true

[Install]
WantedBy=multi-user.target