[Unit]
Description=traefik container
Requires=lab-network.service
After=lab-network.service

[Container]
ContainerName=traefik
Image=docker.io/library/traefik:latest
Network=lab.network
PublishPort=25:25
PublishPort=80:80
PublishPort=443:443
Volume=/var/run/podman/podman.sock:/var/run/docker.sock:ro
Volume=traefik-tls.volume:/etc/traefik/tls:ro
Volume=traefik-dynamic.volume:/etc/traefik/dynamic:ro
SecurityLabelType=spc_t
# --security-opt label=type:spc_t, Super Privileged Container type provides permission to connect to container_runtime_t sockets
# less permissive than SecurityLabelDisable=true (--security-opt label=disable), which turns off label separation for the container for traefik to access podman.sock
Label=traefik.enable=true
Label=traefik.http.routers.dashboard.rule=Host(`traefik.vx`)
Label=traefik.http.routers.dashboard.entrypoints=websecure
Label=traefik.http.routers.dashboard.service=api@internal
Label=traefik.http.routers.dashboard.tls=true
Exec=--api.insecure=false \
--log.level=INFO \
--api.dashboard=true \
--providers.docker=true \
--providers.docker.exposedbydefault=false \
--providers.docker.network=lab \
--providers.file.directory=/etc/traefik/dynamic \
--entryPoints.smtp.address=:25 \
--entryPoints.web.address=:80 \
--entryPoints.web.http.redirections.entryPoint.to=websecure \
--entryPoints.web.http.redirections.entryPoint.scheme=https \
--entryPoints.web.http.redirections.entryPoint.permanent=true \
--entryPoints.websecure.address=:443 \
--entryPoints.websecure.http.tls=true

[Install]
WantedBy=multi-user.target